.container {
    width: 540px;
    max-width: 100%;
    height: 100%;
    margin: auto;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family: var(--main-font);
    --dot-bg: white;
    --dot-color: black;
    --dot-size: 1px;
    --dot-space: 22px;
	background: linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		        linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		        var(--dot-color);
}

#card {
    margin-top: 2.5rem;
    padding: 37px 0;
    border-radius: 20px;
    font-family: 'Work Sans', sans-serif;
    background-color: var(--dot-bg);
    border: 1px solid var(--dot-color);
}

.header {
    text-align: center;
}

.header__img {
    width: 130px;
    border: 1px solid black;
    border-radius: 50%;
    object-fit: cover;
}

.header__title {
    margin: 20px 0 7px;
    font-family: 'Technor', sans-serif;
    font-size: 28px
}

.social {
    gap: 10px;
    padding: 20px 0;
}

.social__icon {
    font-size: 30px;
}

.social__icon2 {
    font-size: 34px;
}

.work {
    flex-direction: column;
    gap: 18px;
}

.work__link {
    width: 92%;
    max-width: 100%;
    height: 64px;
    border: 1px solid black;
    border-radius: 9px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
}